<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{beacon.identifier}}">
  <ion-content has-header="true" padding="true">
  ID:{{beacon.id}}
  Identifier:{{beacon.identifier}}
  UUID:{{beacon.uuid}}
  Minor:{{beacon.minor}}
  Major:{{beacon.major}}
  </ion-content>
</ion-view>
